# Please see https://github.com/jennafin/flic-lifx/wiki/Config-File-Format for more information on how to write this config file.

# Example:
[BUTTON 80:e4:da:71:e0:48]
SingleClick: Toggle Main Bedroom Lights Fast
DoubleClick: Activate Scene Slow
Hold: Set States

[ACTION Toggle Main Bedroom Lights Slow]
Toggle: group:Jenna's Room
Duration: 5.0

[ACTION Toggle Main Bedroom Lights Fast]
Toggle: group:Jenna's Room

[ACTION Activate Scene]
Activate Scene: b93f98d6-d175-419a-befa-f8d8c3ed0c5a

[ACTION Activate Scene Slow]
Activate Scene: b93f98d6-d175-419a-befa-f8d8c3ed0c5a
Duration: 5.0

[ACTION Set My Cool State]
Set state: My Cool State
Selector: group:Jenna's Room

[ACTION Set States]
Set states: My Cool State Red, My Cool State Green
Default: My Cool State

[STATE My Cool State]
power: on
color: red
brightness: 1.0
duration: 5.0

[STATE My Cool State Red]
power: on
color: red
brightness: 1.0
duration: 1.0
selector: id:d073d512c4cc

[STATE My Cool State Green]
power: on
color: green
brightness: 1.0
selector: id:d073d512c6d4

[BUTTON 80:e4:da:71:e0:93]
SingleClick:Turn On Lounge Single
DoubleClick: Turn On Lounge Double
Hold: Turn On Lounge Hold

[ACTION Turn On Lounge Single]
Set state: My Cool Single State
Selector: Group:Main Bedroom

[ACTION Turn On Lounge Double]
Set state: My Cool Hold State
Selector: Group:Main Bedroom

[ACTION Turn On Lounge Hold]
Set state: My Cool Double State
Selector: Group:Main Bedroom
